{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.lwjgl/lwjgl {:mvn/version "3.3.4"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.3.4"}
        org.lwjgl/lwjgl-bgfx {:mvn/version "3.3.4"}

        #_#_generateme/fastmath {:mvn/version "2.4.0" ; clojurey maths (huge!)
                                 :exclusions [com.github.haifengl/smile-mkl]}
        #_#_org.clj-commons/primitive-math {:mvn/version "1.0.1"}
        org.joml/joml {:mvn/version "1.10.7"}

        jdf/comfort {:local/root "../comfort"}
        
        nrepl/nrepl {:mvn/version "1.0.0"}
        cider/cider-nrepl {:mvn/version "0.49.0"}}
 :aliases ; these belong in application's deps.edn
 {:macos-x64
  {:extra-deps
   {org.lwjgl/lwjgl$natives-macos {:mvn/version "3.3.4"}
    org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.3.4"}
    org.lwjgl/lwjgl-bgfx$natives-macos {:mvn/version "3.3.4"}
    }
   :jvm-opts ["-XstartOnFirstThread"]}
  :macos-arm64
  {:extra-deps
   {org.lwjgl/lwjgl$natives-macos-arm64 {:mvn/version "3.3.4"}
    org.lwjgl/lwjgl-glfw$natives-macos-arm64 {:mvn/version "3.3.4"}
    org.lwjgl/lwjgl-bgfx$natives-macos-arm64 {:mvn/version "3.3.4"}
    }
   :jvm-opts ["-XstartOnFirstThread"]}
  :windows-x64
  {:extra-deps
   {org.lwjgl/lwjgl$natives-windows {:mvn/version "3.3.4"}
    org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.3.4"}
    org.lwjgl/lwjgl-bgfx$natives-windows {:mvn/version "3.3.4"}
    }}
  :linux-x64
  {:extra-deps
   {org.lwjgl/lwjgl$natives-linux {:mvn/version "3.3.4"}
    org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.3.4"}
    org.lwjgl/lwjgl-bgfx$natives-linux {:mvn/version "3.3.4"}
    }}}}
